html {
    line-height: 1.15; /* 1 */
    -webkit-text-size-adjust: 100%; /* 2 */
  }
  
  nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 20px 80px;
  }
  
  #LogoNath{
    height: 80px;
    width: auto;
  }
  
  li {
      display: inline;
      padding: 10px;
  }
  
  main {
    background-color: #ffffff;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
  }
  
  body {
    font-family: 'poppins', sans-serif;
  }
  
  h1, h2, h3, h4 {
    font-family: 'poppins', sans-serif;
  }
   h1 {
     font-size: 3.25em;
     font-weight: 400;
   }
  
   h2 {
     font-size: 2.25em;
     font-weight: 300;
   }
  
   h3 {
     font-size: 1.75em;
     font-weight: 300;
   }
   
   h4 {
     font-size: 1.35em;
     font-weight: 300;
  } 

p {
    width: 600px;
}
picture img {
    width: 400px;
    height: auto;
  }

  #icons {
    height: 50px;
  }


footer {
  background-color: #fffffff;
  display: flex;
  justify-content: space-around;
  margin: 60px 600px;
}
